body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#615dad 0%, #ffc8da 90%);
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Lobster';
  font-size: 50px;
  margin: 0;
}

.main {
  background-color: #283e50;
  width: 430px;
  margin: 10px;
  border-radius: 10px 10px 0 0;
}

.homepage--img {
  border-radius: 10px 10px 0 0;
  width: inherit;
}

.homepage--text,
a {
  color: white;
  text-align: center;
  line-height: 1.5;
  padding: 15px 20px;
}

a {
  display: block;
  text-decoration: none;
}

.navigation--rules {
  background-color: #1fcca4;
}

.navigation--rules:hover,
.navigation--rules:active,
.navigation--rules:focus {
  background-color: #1cbb96;
}

.navigation--play {
  background-color: #0197f6;
  border-top: 0.5px solid #283e50;
}

.navigation--play:hover,
.navigation--play:active,
.navigation--play:focus {
  background-color: #0090e9;
}
