body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#615dad 0%, #ffc8da 90%);
  background-size: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  line-height: 1.3;
}

h1 {
  font-family: 'Lobster';
  font-size: 50px;
  text-align: center;
  margin: 0;
}

/* index.html & pravidla.html */

.rules h1 {
  margin: 40px auto;
}

.main {
  background-color: #283e50;
  width: 350px;
  margin: 30px;
  border-radius: 10px 10px 0 0;
}

.homepage--img {
  border-radius: 10px 10px 0 0;
  width: inherit;
}

.homepage--text,
a {
  text-align: center;
  padding: 15px 20px;
}

.rules--list,
.rules--gallery {
  margin: 0 30px;
}

.rules--list {
  padding: 0px 15px 0px 25px;
}

.rules--list li {
  padding-left: 10px;
  padding-bottom: 15px;
}

.rules--list li:last-of-type {
  padding-bottom: 0;
}

.cross,
.circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}

.trans_white {
  filter: invert(100%);
}

.rules--gallery {
  padding: 0;
}

.rules--gallery img {
  width: 100%;
  margin-top: 50px;
}

.rules--gallery figure {
  margin: 0;
}

.rules--gallery figure:last-child {
  margin-bottom: 50px;
}

.rules--gallery figcaption {
  text-align: center;
  font-style: italic;
}

a {
  display: block;
  text-decoration: none;
}

.navigation--rules,
.navigation--homepage {
  background-color: #1fcca4;
}

.navigation--rules:hover,
.navigation--rules:active,
.navigation--rules:focus,
.navigation--homepage:hover,
.navigation--homepage:active,
.navigation--homepage:focus {
  background-color: #1cbb96;
}

.navigation--play {
  background-color: #0197f6;
  border-top: 0.5px solid #283e50;
}

.navigation--play:hover,
.navigation--play:active,
.navigation--play:focus {
  background-color: #0090e9;
}

.navigation--rules:link,
.navigation--play:link,
.navigation--homepage:link {
  color: white;
}

.navigation--rules:visited,
.navigation--play:visited,
.navigation--homepage:visited {
  color: white;
}

@media screen and (min-width: 800px) {
  .rules {
    width: 650px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .rules--gallery {
    margin: 0 25px;
  }

  .rules--gallery figure {
    width: calc(50% - calc(25px / 2));
  }

  .rules--gallery figure:nth-child(2n + 1) {
    margin-right: 25px;
  }

  .rules--gallery figcaption {
    font-size: smaller;
  }
}

/* hra.html */

.play {
  max-width: 80vmin;
  margin: 30px;
}

.play--nav,
.play--nav--player,
.play--nav--buttons {
  display: flex;
}

.play--nav {
  justify-content: space-between;
  align-items: center;
}

.play--nav--player p {
  margin: 0;
  text-transform: uppercase;
}

.play--nav--player img {
  margin: 0 10px;
}

.play--nav--buttons__home {
  background-color: #1cbb96;
  background-image: url(img/home.svg);
}

.play--nav--buttons__reload {
  background-color: #0197f6;
  background-image: url(img/restart.svg);
  margin-left: 10px;
}

.play--nav--buttons__home,
.play--nav--buttons__reload {
  background-repeat: no-repeat;
  background-position: center;
  width: 35px;
  height: 35px;
  padding: 0;
  border-radius: 5px;
}

.play--board {
  display: flex;
  flex-wrap: wrap;
  width: 80vmin;
  height: 80vmin;
}

.play--board button {
  width: 10%;
  padding: 0;
}

.play--board,
.play--board button {
  border: 0.5px solid black;
  border-collapse: collapse;
}
